<h1>Create a Hero</h1>
<form method="POST" action="/heroes">
    <input type="hidden" name="user_id" value="<%=session[:user_id]%>">
    <p>Choose Your Hero's Avatar</p>
    <section class="row" style="margin-bottom:15px;">
        <div class="col-xs">
            <img width="200" src="/images/archer.jpg">
            <br><center><input type="radio" name="img_path" value="archer.jpg"></center>
        </div>
        <div class="col-xs">
            <img width="200" src="/images/paladin.jpg">
            <br><center><input type="radio" name="img_path" value="paladin.jpg"></center>
        </div>
        <div class="col-xs">
            <img width="200" src="/images/priest.jpg">
            <br><center><input type="radio" name="img_path" value="priest.jpg"></center>
        </div>
        <div class="col-xs">
            <img width="200" src="/images/warrior.jpg">
            <br><center><input type="radio" name="img_path" value="warrior.jpg"></center>
        </div>
        <div class="col-xs">
            <img width="200" src="/images/wizard.jpg">
            <br><center><input type="radio" name="img_path" value="wizard.jpg"></center>
        </div>
    </section>
    <p><label class="label">Name:</label> <input type="text" name="name"></p>
    <p><label class="label">Battlecry:</label> <input type="text" name="battle_cry"></p>
    <p><label class="label">Bio:</label> <textarea name="bio"></textarea></p>
    <p><input class="btn btn-info" type="submit" value="Create Hero"></p>
</form>