<header class="jumbotron my-4 center">
    <h1 class="display-3">Welcome to HeroFightz!</h1>
    <h2 class="display-4">Register to Get Started</h2>
    <% if @message %>
    <h3 class="red display-6"><%=@message%></h3>
    <% end %>
    <form method="POST" action="/register">
        <p><label class="label">Name:</label> <input type="text" name="name"></p>
        <p><label class="label">Email:</label> <input type="text" name="email"></p>
        <p><label class="label">Password:</label> <input type="password" name="password"></p>
        <p><input class="button" type="submit" value="Register"></p>
    </form>
</header>